<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta property="og:site_name" content="Snapchat" />
  <meta property="og:title" content="The Fastest Way to Share a Moment!" />
  <!-- The following are optional -->
  <meta
    property="snap:sticker"
    content="/imgs/practicePageDefaultTrans.png"
  />
  <!-- <meta
    property="snap:sticker"
    content="https://sdk.bitmoji.com/render/panel/10219618-"+ currentUser.bitmoji.avatarId +"-v1.png?transparent=1&palette=1"
  />
  <meta
    property="snap:sticker"
    content="https://sdk.bitmoji.com/render/panel/10219618-"+ currentUser.bitmoji.avatarId +"-v1.png?transparent=1&palette=1"
  /> -->
  <meta property="snap:app_id" content="81d37598-2121-48ed-b5ba-39550fcb541f
  " />
  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./Maxim/assets/img/favicon.png" rel="icon">
  <link href="./Maxim/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./Maxim/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./Maxim/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./Maxim/assets/css/style.css" rel="stylesheet">
 
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="/">UniSign</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Dashboard</a></li>
          <li><a class="nav-link scrollto " href="/gesture">ASL to Speech</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <%if(error && error.length > 0){%>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
      <%}%>
      <%if(success && success.length > 0){%>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <%}%>
      
    </div>
    <div class="container text-center text-md-left" data-aos="fade-up">
      <div class = "mb-2" style="text-align: left;">
        <h1>Getting</h1>
        <h1>Started.</h1>
        </div>
        <div class="d-flex pt-1">
      <a href="/login/snapchat" id = "loginWithSnapButton" class="btn-get-started scrollto" style="border-radius: 33px; padding-right: 5px;"><img src="/Maxim/assets/img/snapchat.png" height="50px" width="50px">Continue with Snapchat</a>
    </div>
  </div>
</section><!-- End Hero -->
          

  <!-- ======= Footer ======= -->
  <%- include ("./partials/footer.ejs") %>
  <!-- End Footer -->

  <script>
    // Load the SDK asynchronously
    
    (function (d, s, id) {
      var js,
        sjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://sdk.snapkit.com/js/v1/create.js";
      sjs.parentNode.insertBefore(js, sjs);
    })(document, "script", "snapkit-creative-kit-sdk");
  </script>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./Maxim/assets/vendor/aos/aos.js"></script>
  <script src="./Maxim/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./Maxim/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./Maxim/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./Maxim/assets/vendor/php-email-form/validate.js"></script>
  <script src="./Maxim/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="./Maxim/assets/js/main.js"></script>

</body>

</html>